html {
    overflow-x: hidden;
}
div.container-fluid {
    padding-bottom: 30px;
}

/*row 1*/
div.topRow {
    padding-bottom: 2rem;
}
h1.projectTitle {
    text-align: left;
    font-size: 6rem;
    color:#1b1c1e;
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
    padding-left: 6rem;
}
h2.projectType {
    font-family: 'Epilogue', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    padding-left: 63px;
}
/*row 2*/
div.secondRow {
    background-color: black;
    background-position: center;
    background-size: cover;
    background-origin: border-box;

}
div.blackBackground {
    padding: 4rem;
}
p.clientTitle {
    font-size: 1.7rem;
}
div.descriptionText {
    font-family: 'Epilogue', sans-serif;
    color: white;
    padding-top: ;
    padding-left: 2rem;
    vertical-align: middle;
    align-content: center;
}
img.projectIcon {
    width: 100%;
    padding-left: 4rem;
}
/*row 3*/
div.thirdRow {
    padding: 40px;
}
div.descriptionText1 {
    font-family: 'Epilogue', sans-serif;
    padding-left: 20px;
    padding-top: ;
    font-size: 1.5rem;
}
img.cppPhoto {
    width: fit-content;
}

/*row 4*/
div.fourthRow {
    padding: 4rem;
}
img.progress1 img.progress2 {
    width: 100%;
    padding-left: 4rem;
}

h2.centerHead {
    text-align: center;
}

/*row 5*/
div.fifthRow {
    padding: 4rem;
}
img.styleGuide {
    padding-top: 2rem;
    padding-left: 4rem;
}
/*row 6*/
div.sixthRow {
    padding: 4rem;
}
div.descriptionText2 {
    font-family: 'Epilogue', sans-serif;
    padding: rem;
    font-size: 1.5rem;
}
img.final1 {
    width: auto;
    padding-left: 0rem;
}

/*copy text*/
h2.secHeader {
    font-size: 4rem;
    font-weight: 500;}
p.copyText {
    font-size: 1.5rem;
}



