html {
    overflow-x: hidden;
    font-size: 10px;
}
@media (max-width: 576px) {
    h1.projectTitle {font-size: 30px;}
 }

@media (min-width: 576px) {
    h1.projectTitle {font-size: 1rem;}
}

div.container-fluid {
    padding-bottom: 30px;
}
div.topRow {
    padding-bottom: 20px;
}
div.secondRow {
    background-color: black;
    background-position: center;
    background-size: cover;
    background-origin: border-box;

}
div.blackBackground {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
}

div.thirdRow {
    padding: 40px;
}

div.fourthRow {
    padding: 40px;
}

img.styleGuide {
    width: 100%;
    padding-left: 40px;
}

h1.projectTitle {
    text-align: left;
    font-size: 60px;
    color: black;
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
    padding-left: 60px;
}
h2.projectType {
    font-family: 'Epilogue', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding-left: 63px;

}

h2.secHeader {
    font-size: 2.5rem;
    font-weight: 500;
}
p.clientTitle {
    font-size: 1rem;
}
div.descriptionText {
    font-family: 'Epilogue', sans-serif;
    color: white;
    padding-top: ;
    padding-left: 20px;
    vertical-align: middle;
    align-content: center;

}

p.copytext {
    font-size: 1rem;

}

div.descriptionText1 {
    font-family: 'Epilogue', sans-serif;
    padding-left: 20px;
    padding-top: ;
    font-size: 1.2vw;
}

div.descriptionText2 {
    font-family: 'Epilogue', sans-serif;
    padding: 40px;
    font-size: 1.2vw;
}