body {
    font-family: 'Epilogue', sans-serif;
}
html {
    overflow-x: hidden;
    font-size: 10px;
}

body, html {
    height:100%;
}

#vantaTrunk {
    position: absolute;
    display:block;
    min-width: 100%;
    min-height: fit-content;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    display: ;
}
.parallax {
    background-image:linear-gradient(50deg,#ed9da1 10%, #c72420), url(https://katietju.com/assets/images/gradientBackground.jpg);
    background-repeat: no-repeat;
    height:100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    main {
        padding-top: 4rem;
    }
}

main {
    margin-bottom: 8rem;
    height: 70rem;
    padding-top: rem;
}

h1.center {
    text-align: center;
    font-size: 5rem;
    color: white;
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
}

h3.center {
    text-align: center;
    font-size: 23px;
    color: white;
}
.profilePhoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    border-radius: 0%;
}
p.aboutText {
    text-align: center;
    font-family: 'Epilogue', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: white;
}
p.centerText {
    text-align: center;
    font-family: 'Epilogue', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: white;
}
.center {
    text-align: center;
    font-family:'Epilogue', sans-serif;
}
h4.center {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
    color: white;
}

.animate__animated.animate__bounce {
    --animate-duration: 1s;
  }

.contactInfoIcon {
    color: white;
    font-size: 30px;
    text-align: center;

}
.contactInfoIcon:hover {
    color: #c72420;
}


