body {
    font-family: 'Epilogue', sans-serif;
}
html {
    overflow-x: hidden;
    font-size: 10px;
}

body, html {
    height:100%;

}

.parallax {
    background-image: url(/assets/images/gradientBackground.png);
    background-repeat: no-repeat;
    height:100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
}

@media only screen and (max-width: 576px) {
    /* For mobile phones: */
    [class*="col-"] {
    width: 100%;}
}

main {
    margin-bottom: 7rem;
    height: 70rem;
}

h1.center {
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
}

h3.center {
    text-align: center;
    font-size: 23px;
    color: white;
}
.profilePhoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    border-radius: 50%;
}

p.centerText {
    text-align: center;
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: white;
}
.center {
    text-align: center;
    font-family:'Epilogue', sans-serif;
}
h4.center {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    color: white;
}

.animate__animated.animate__bounce {
    --animate-duration: 1s;
  }

.contactInfoIcon {
    color: white;
    font-size: 30px;
    text-align: center;

}
.contactInfoIcon:hover {
    color: hotpink;
}
