body {
    background-image: url(/assets/images/gradientBackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    width: 100%;
}