#boxA {
    width: 100%;
    height: 800px;
    background-image: url('../images/kitty.JPG');
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

#boxB {
    width: 100%;
    height: 1000px;
    background-image: url('../images/kittyLeg.JPG');
    font-size: 300px;
    font-family: Arial, Helvetica, sans-serif;

}

#boxC {
    width: 100%;
    height: 1000px;
    background-image: url(../images/kittyMouth.JPG);

}

#boxC h1{
    font-size: 100px;
    color: blanchedalmond;
}

#boxD {
    width: 100%;
    height: 1000px;
    background-image: url(../images/sleepyKitty.JPG);

}

#boxD span{
    font-size: 100px;
    color: cornsilk;
    font-family: Arial, Helvetica, sans-serif;
}

#sidebar {
    background-color: lightgray;
    
    height: 200px;
    width: 200px;
    z-index: 0;
    float: left;
}

#hello {
    float: none;
    width: auto;
    height: 200px;
    background-color: lightskyblue;
    z-index: 2;
    text-align: center;
    
}

div.flexcontainer {
    background-color: lime;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
div.flexcontainer > div{
    width: 200px;
    height: 200px;
    background-color: gray;
    margin: 20 px 10 px;
    padding: 20px;


}

#footer {
        z-index: 0;
        margin-top:50px;
        height: 100px;
        width: 100%;
        background-color: darkgray;

}
#footer h1{
        font-size: 30px;
}