#vantaFog {
    position: absolute;
    display:block;
    min-width: 100%;
    min-height: ;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    display: ;
}

body {

}

main {
    margin-bottom:;
    height: fit-content;
}