#vantaFog {
    position: absolute;
    display:block;
    min-width: 100%;
    min-height: ;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    display: ;
}

html {
    font-size: 10px;
}
body {

}

main {
    margin-bottom:;
    height: fit-content;
}
h1 {
    font-size: 1.4rem;
    font-family: monospace;
    color: black;
    text-decoration: center;
    padding-top: 25rem;
    mix-blend-mode: screen;
}
