#vantaFog {
    position: absolute;
    display:block;
    min-width: 100%;
    min-height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    display: none;
}

body {
    font-family: 'Epilogue', sans-serif;
    background-image: url(/assets/images/gradientBackground2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div.container-fluid {
    padding: 40px;
}

.card:hover {
    background-color: black;
    color: white;
 }

.card-img-top {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.hoverType {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.entireCard:hover .card-img-top {
    opacity: 0.3;
}

.entireCard:hover .hoverType {
    opacity: 1;
}

.card-text {
    background-color: black;
    color: white;
    padding: 10px 10px;
    position: relative;
}
div.card {
border: none;
}

.card-img-top {
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

h5.card-text {
    font-family:  'Epilogue', sans-serif;
    font-weight: 700;
}

p.card-text {
    font-family:  'Epilogue', sans-serif;
    font-size: 12px;
    font-weight: 300;
}