
body, html {
    height:100%;
}
body.page {
    background-image: url(/assets/images/gradientBigger.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5rem;
    overflow-x: hidden;
}


img.header {
      width: 100%;
      height: auto;
      padding-bottom: 10px;
  }

.education {
    z-index: -1;
}
.contactInfo {
    color: black;
    font-size: 1.6rem; 
}

a.contactInfo:hover {
    background-color: hotpink;
    color: white;
    text-decoration: none;
}

a.projectsText .smallBold:hover {
    color: white;
    text-decoration: none;
    background-color: hotpink;
}
a.projectsText:hover {
    text-decoration: none;
}

.projectsText {
    color: black;
}
.bold {
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
}

.smallBold {
    font-size: 22px;
    font-weight: bold;
    line-break: 2px;
}
.smallReg {
     font-size: 20px;
 }

div.bottomRow {
     margin-top: 2.6rem;
 }

.skillsImage {
    width: 115px;
    height: auto;
    padding: 10px;
}

ul.personalSkills {
    columns: 12.6rem 2;
    line-height: 50px;
    font-size: 2rem;
    z-index: -1;
    padding: 5px;
    list-style-type: '+ ';
}

.shift {
    position: relative;
    left: 45px;
}

.experienceText {
    font-size: 1.6rem;
}
.verticalText {
    font-size: 22px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    height: auto;
    position: relative;
    right:70px;
    top:150px;
    margin-top: -110px;
}

.verticalText2 {
    font-size: 22px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    position: relative;
    height:auto;
    right:70px;
    top:100px;
    margin-top: -70px;
    margin-bottom: 1rem;
}

.verticalText3 {
    font-size: 22px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    height: auto;
    position: relative;
    right:70px;
    top:120px;
    margin-top: -100px;
}

.verticalText4 {
    font-size: 22px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    height: auto;
    position: relative;
    right:70px;
    top:165px;
    margin-top: -100px;
  
}

.verticalText5 {
    font-size: 22px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    height: auto;
    position: relative;
    right:70px;
    top:130px;
    margin-top: -95px;
}

.verticalText6 {
    font-size: 22px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    height: auto;
    position: relative;
    right:70px;
    top:92px;
    margin-top: -50px;
}

.verticalText7 {
    font-size: 22px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    height: auto;
    position: relative;
    right:70px;
    top:15rem;
    margin-top: -145px;
}

.verticalText8 {
    font-size: 22px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    height: auto;
    position: relative;
    right:70px;
    top:165px;
    margin-top: -100px;
}
.smallThin {
    font-size: 2rem;
    font-weight: bold;
}

hr.solid {
    border-top: 1px solid #000000;
    opacity: 30%;
}

.honorsText {
    font-size: 1.6rem;
}
