
.page {
    background-image: url(/assets/images/gradientBigger.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin-bottom: 100px;
}


.contactInfo {
    color: black;
}

.bold {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}

.smallBold {
    font-size: 22px;
    font-weight: bold;
    line-break: 2px;
}
.smallReg {
     font-size: 20px;
 }

 p {
     text-align: ;
 }


 .projectsText {
     color: black;
 }

.skillsImage {
    width: 115px;
    height: auto;
    padding: 10px;
}

.personalSkills {
    columns: 20px 2;
    line-height: 50px;
    font-size: 20px;
}

li {
    list-style-type: none;
}

.shift {
    position: relative;
    left: 45px;
}

.verticalText {
    font-size: 22px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    height: auto;
    position: relative;
    right:70px;
    top:150px;
}

.verticalText2 {
    font-size: 22px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    position: relative;
    height:auto;
    right:70px;
    top:100px;
}

.verticalText3 {
    font-size: 22px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    height: auto;
    position: relative;
    right:70px;
    top:120px;
}

.verticalText4 {
    font-size: 22px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    height: auto;
    position: relative;
    right:70px;
    top:165px;
}

.verticalText5 {
    font-size: 22px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    height: auto;
    position: relative;
    right:70px;
    top:130px;
}

.verticalText6 {
    font-size: 22px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    height: auto;
    position: relative;
    right:70px;
    top:92px;
}
.smallThin {
    font-size: 20px;
    font-weight: bold;
}

hr {
    size: 5px;
    border-top: 20px solid #000000;
}