
.page {
    background-image: url(/assets/images/gradientBigger.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.contactInfo {
    color: black;
}

.bold {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}

.smallBold {
    font-size: 22px;
    font-weight: bold;
    line-break: 2px;
}
.smallReg {
     font-size: 20px;
 }

 p {
     text-align: ;
 }


 .projectsText {
     color: black;
 }

.skillsImage {
    width: 120px;
    height: auto;
}

.personalSkills {
    columns: 20px 2;
}

li {
    list-style-type: none;
}

.verticalText {
    transform: rotate(270deg);
    transform-origin: -2% 160% 0;
    writing-mode: lr-tb;
    margin-right: 25px;
}

transform: rotate(270deg);
transform-origin: -2% 160% 0;
writing-mode: lr-tb;

transform: rotate(90deg);
transform-origin: left top 0;