div.container-fluid {
    padding-top: 4rem;
}
.projectArrowLeft, .projectArrowRight {
    color: black;
    font-size: 5rem;
}
.projectArrowLeft:hover, .projectArrowRight:hover {
    color: hotpink;
}
.projectArrowLeft {
    position: fixed;
    bottom: 1rem;
    left: .8rem;
    z-index: 99;
    border: none;
    outline: none;
    padding: 1rem;
    display: ;
}
.projectArrowRight {
    position: fixed;
    bottom: 1rem;
    right: .8rem;
    z-index: 99;
    border: none;
    outline: none;
    padding: 1rem;
    display: ;
}

.projectOverview {
    padding-left: 17rem;
}
div.redBox {
    background-color: #c72420;
}
.projectTitle {
    color: #ed9da1;
    font-size: 3rem;
    font-family: 'Epilogue', sans-serif;
}
.projectType {
    font-family: 'Epilogue', sans-serif;
}
div.content {
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
}
p.clientTitle, p.copyText {
    font-size: 1.4rem;
    font-family: 'Epilogue', sans-serif;
}
.projectIcon {
    padding-right: 6.2rem;
}
.projectProcess {
    margin-top: 22rem;
}
.projectProcess2 {
    margin-top: 0rem;
}
.imageA {
    padding-left: 6.2rem;
}
.imageB {
    padding-right: 6.2rem;
}
.projectCredit {
    padding-top: 19rem;
    font-size: 1.4rem;
    font-family: 'Epilogue', sans-serif;
}


/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
    div.container-fluid {
        padding-top: 0rem;
    }
    /*arrows*/
    .projectArrowLeft, .projectArrowRight {
        font-size: 2rem;
    }
    .projectArrowLeft {
        bottom: 1rem;
        left: .5rem;
    }
    .projectArrowRight {;
        bottom: 1rem;
        right: .5rem;
    }
    /*projects*/
    .projectOverview {
        padding-left: 2rem;
    }
    .projectIcon {
        width: 100%;
        padding-right: 2rem;
        padding-bottom: 2rem;
    }
    div.redBox {
        width: 24rem;
    }
    .projectTitle {
        font-size: 2rem;
    }
    .projectType {
        font-size: 1.4rem;
    }
    div.content {
        padding-top: 2rem;
        padding-bottom: .3rem;
        padding-right: 1.8rem;
    }
    p.clientTitle, p.copyText {
        font-size: 1.2rem;
        font-family: 'Epilogue', sans-serif;
    }
    .projectCredit {
        padding-top: .3rem;
        font-size: 1.2rem;
        font-family: 'Epilogue', sans-serif;
    }
    .projectProcess {
        margin-top: 6rem;
    }
    .imageA {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .imageB {
        padding-right: 2rem;
        padding-left: 2rem;
    }

}


/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {
    div.container-fluid {
        padding-top: 0rem;
    }
    /*projects*/
    .projectOverview {
        padding-left: 5rem;
        padding-right: 2.5rem;
    }
    div.redBox {
        width: 37rem;
    }
    .projectTitle {
        font-size: 2.8rem;
    }
    .projectType {
        font-size: 1.6rem;
    }
    div.content {
        padding-top: .3rem;
        padding-bottom: .7rem;
        padding-right: 1.8rem;
    }
    p.clientTitle, p.copyText {
        font-size: 1.2rem;
        font-family: 'Epilogue', sans-serif;
    }
    .projectCredit {
        padding-top: .3rem;
        font-size: 1.2rem;
        font-family: 'Epilogue', sans-serif;
    }
    .projectIcon {
        width: 100%;
        padding-right: 2rem;
        padding-bottom: 2rem;
    }
    .projectProcess {
        margin-top: 5rem;
    }
    .imageA {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .imageB {
        padding-left: 5rem;
        padding-right: 5rem;
    }

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    div.container-fluid {
        padding-top: 8rem;
    }
    /*projects*/
    .projectOverview {
        padding-left: 5rem;
        padding-right: 2.5rem;
    }
    div.redBox {
        width: 20.9rem;
    }
    .projectTitle {
        font-size: 1.8rem;
    }
    .projectType {
        font-size: 1.3rem;
    }
    div.content {
        padding-top: .3rem;
        padding-bottom: .3rem;
        padding-right: 1.8rem;
    }
    p.clientTitle, p.copyText {
        font-size: 1.rem;
    }
    .projectCredit {
        padding-top: 1rem;
        font-size: 1.2rem;
    }
    .projectProcess {
        margin-top: 18rem;
    }
    .imageA {
        padding-left: 5rem;
        padding-right: 0rem;
    }
    .imageB {
        padding-left: 0rem;
        padding-right: 5rem;
    }
    .projectProcess2 {
        margin-top: 2rem;
    }
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    div.container-fluid {
        padding-top: 6rem;
    }
    /*projects*/
    .projectOverview {
        padding-left: 5rem;
        padding-right: 2.5rem;
    }
    div.redBox {
        width: rem;
    }
    .projectTitle {
        font-size: 3rem;
    }
    .projectType {
        font-size: 2rem;
    }
    div.content {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-right: 1.8rem;
    }
    p.clientTitle, p.copyText {
        font-size: 1.4rem;
    }
    .projectCredit {
        padding-top: 28rem;
        font-size: 1.4rem;
    }
    .projectProcess {
        margin-top: 26rem;
    }
    .projectProcess2 {
        margin-top: 2rem;
    }
}