html {
    scroll-behavior: smooth;
    font-size: 10px;
    overflow-x: hidden;
}
div.lyricVideo {
    display: none;
}

/*navbar*/
img.navLogo {
    height: 70px;
    width: 70px;
}

nav.navbar {
    position: sticky;
    font-family: 'Epilogue', sans-serif;
    font-weight: 800;
}
button.navbar-toggler {
    border: none;
    opacity: 50%;
}

li.nav-item {
    padding-left: 3.5rem;
}

.customNav li.nav-item.active {
    text-decoration: none;
    color: black;
}

.customNav li.nav-item a:hover {
    color: black;
    text-decoration: none;
}

.dropdown {
    display: none;
}

.homeButton {
    display: none;
}
li.extrasButton {
    display: none;
}

/* css effects */
*::after,
*::before {
    box-sizing: border-box;
}

.js .loading::before,
.js .loading::after {
    content: '';
    position: fixed;
    z-index: 1000;
}

.js .loading::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-bg);
}

.js .loading::after {
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    border-radius: 50%;
    opacity: 0.4;
    background: var(--color-link);
    animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
    to {
        opacity: 1;
        transform: scale3d(0.5, 0.5, 1);
    }
}

a.link {
    text-decoration: none;
    color: var(--color-link);
    outline: none;
}

a.link:hover {
    color: var(--color-link-hover);
    outline: none;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a.link:focus {
    /* Provide a fallback style for browsers
	 that don't support :focus-visible */
    outline: none;
    background: lightgrey;
}

a.link:focus:not(:focus-visible) {
    /* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
    background: transparent;
}

a.link:focus-visible {
    /* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
    outline: 2px solid red;
    background: transparent;
}

.link {
    cursor: pointer;
    font-size: 4rem;
    position: relative;
    white-space: nowrap;
    color: var(--color-text);
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link::before {
    content: '';
    /* show by default */
}

.link--elara::before {
    transform-origin: 50% 100%;
    transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
    clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
}

.link--elara:hover::before {
    transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
    clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);
}

.link--elara span {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}

.link--elara:hover span {
    transform: translate3d(0, -2px, 0);
}

/*scroll to top*/
#topButton {
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    z-index: 99;
    border: none;
    outline: none;
    padding: 1rem;
    display: none;
    border-radius: 50%;
}

.buttonTop {
	pointer-events: auto;
	cursor: pointer;
	border: none;
	padding: 1.5rem 3rem;
	margin: 0;
	font-family: 'Epilogue', sans-serif;
	font-size: 1.8rem;
	position: relative;
	display: inline-block;
}

.buttonTop::before,
.buttonTop::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.button--skoll {
	overflow: hidden;
	border-radius: 50%;
	width: 7rem;
	height: 7rem;
	padding: 0;
	font-weight: 500;
}

.button--skoll span {
	display: block;
	position: relative;
    font-size: 1.8rem;
    font-weight: 500;
    color:white;
    padding: 2px;
}

.button--skoll > span {
	overflow: hidden;
	mix-blend-mode: difference;
}

.button--skoll:hover > span > span {
	animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
}
@keyframes MoveUpInitial {
	to {
		transform: translate3d(0,-105%,0);
	}
}
@keyframes MoveUpEnd {
	from {
		transform: translate3d(0,100%,0);
	}
	to {
		transform: translate3d(0,0,0);
	}
}
.button--skoll::before {
	content: '';
	background: #000;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	border-radius: 50%;
	transform: translate3d(0,0,0);
	transition: transform 0.3s;
	transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);

}
.button--skoll:hover::before {
	transform: translate3d(0,100%,0);
}

/*project pages*/
h1.projectTitle {

}
.clientTitle {

}
.projectType {

}

/*footer*/
footer#bottom  {
    position: sticky;
    font-family: 'Epilogue', sans-serif;
    font-size: 1rem;
    width: 100%;
    padding: 2rem;
    height: 5rem;
}

div.footer {
    height: fit-content;}

a.easterEgg {
    color: transparent;
    text-decoration: none;}

a.easterEgg:hover {
    text-decoration: none;
    color: hotpink;}

/*media queries breakpoint*/
/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
    #topButton {
        font-size: 1.5rem;
        padding: 1rem;}
    nav.navbar {
        position: sticky;
        font-size:  1.6rem;
        padding-top: 3rem;
        padding-left: 2.5rem;
        padding-bottom: 3rem;
        padding-right: 2.5rem;}
    footer#bottom  {
        position: sticky;
        font-family: 'Epilogue', sans-serif;
        font-size: 1rem;
        width: 100%;
        padding: 2rem;
        height: 5rem;}
    li.nav-item {
        padding-left: 0rem;
    }
    h5.card-text {
        font-size: 1.8rem;
    }
    p.card-text {
        font-size: 1.1rem;
    }
    .card-body {
        width: fit-content;
    }

/*resume*/
    .contactInfo {
        font-size: 1.4rem;}
    ul.personalSkills {
        font-size: 1.8rem;
        padding: .8rem;
        } 
    .verticalText {
        top:18.2rem;
    }   
    .verticalText2 {
        top:12.6rem;
        margin-top: -9rem;
    }
    .verticalText3 {
        top:12rem;
        margin-top: -100px;
    }
    .verticalText4 {
        top:20.4rem;
    }
    .verticalText8 {
        top:18rem;
    }
    .verticalText5 {
        top:15.6rem;
    }
    .verticalText6 {
        top:11.3rem;
    }
    .verticalText7 {
        top:16rem;
    }
/*projects*/
    h1.projectTitle {
        font-size: 4rem;
        padding-left: 1rem;}
    h2.projectType {
        font-size: 1.7rem;
        padding-left: 1.2rem;}
    h2.secHeader {
        font-size: 3rem;}
    img.projectIcon {
        width: 100%;
        padding-left: 2rem;
        padding-right: 1rem;}
    img.progress1 {
        padding-left: 1rem;
        padding-right:.5rem}
    img.progress2 {
        padding-left:01rem;
        padding-right:1rem}
    div.blackBackground {
        padding-left: 1rem;
        padding-top: 2rem;
        padding-right: 2rem;
        padding-bottom: 1rem;}
    h2.secHeader {
        text-align: center;
        padding-bottom:.2rem;}
    p.clientTitle {
        font-size: 1.18rem;}
    p.copyText {
        font-size: 1.3rem;}
    div.thirdRow {
        padding-top: 1rem;
        padding-left: 0rem;
        padding-right: 1rem;}
    div.fourthRow {
        padding: 1rem;}
    div.sixthRow {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 2rem;
    }
    div.descriptionText {
        padding-left: 2rem;
    }
    div.descriptionText2 {
        padding-left: 1rem;
        padding-top: 1rem;
    }
    img.cppPhoto {
        align-content: center;
        padding: 1rem;
        padding-left: 2rem;
    }
    img.final1 {
        width: 100%;
        padding-left: 1rem;
        padding-top: 1.5rem;
        padding-right: 1rem;
    }
    img.styleGuide {
        padding-top: 2rem;
        padding-left: 1rem;
    }
    div.fifthRow {
        padding: 1rem;
    }
    img.poster {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
    }
    img.bookCover {
        width: auto;
        align-content: center;
        padding-left: rem;
    }
    video.projectIcon {
        width: 100%;
        padding-left: 2rem;
        padding-right: 1rem;}
}

@media only screen and (min-width:430px) {
    .verticalText2 {
        top:10.62rem;
        margin-top: -9rem;
    }
    .verticalText7 {
        top:15rem;
    }
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {
    #topButton {font-size: 1.5rem;}
    nav.navbar {        
        position: sticky;
        font-size:  1.6rem;
        padding-top: 3rem;
        padding-left: 2.4rem;
        padding-bottom: 4rem;
        padding-right: 2.4rem;}
/*resume*/
    .verticalText2 {
        top:14rem;
        margin-top: -9rem;}
/*projects*/
    img.final1 {
        width: 100%;
        padding-left: 0rem;}
    }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #topButton {font-size: 1.5rem;}
    nav.navbar {
        font-size:  1.5rem;
        padding-top: 6rem;
        padding-left: 7.7rem;
        padding-bottom: 4rem;
        padding-right: 7.7rem;}
/*resume*/
    .verticalText2 {
        top:10.3rem;
        margin-top: -9rem;
    }
    .verticalText7 {
        top:17rem;
    }

/*projects*/
    img.final1 {
        width: 100%;
        padding-left: 0rem;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #topButton {font-size: 1.8rem;}
/*resume*/
    ul.personalSkills {
        font-size: 1.8rem;
        padding: .3rem;
        } 
    .verticalText2 {
        top:13rem;
        margin-top: -9rem;
    }
    .verticalText7 {
        top:15rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #topButton {font-size: 1.5rem;}
/*resume*/
    .verticalText2 {
        top:10rem;
        margin-top: -9rem;
    }

}