html {
    scroll-behavior: smooth;
    font-size: 10px;
}

/*navbar*/
img.navLogo {
    height: 50px;
    width: 50px;
}

nav.navbar {
    position: sticky;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}
button.navbar-toggler {
    border: none;
    opacity: 50%;
}

.customNav li.nav-item.active {
    color: white;
    text-decoration: overline;
}

.customNav li.nav-item a:hover {
    color: black;
    text-decoration: overline;
}

.dropdown {
    font-size: 14px;
    display: none;
}

.homeButton {
    display: none;
}
/*scroll to top*/
#topButton {
    font-family: 'Epilogue', sans-serif;
    font-size: 1.5rem;
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    z-index: 99;
    border: none;
    outline: none;
    padding: 1rem;
    background-color: black;
    display: none;
    color: white;

}
/*project pages*/
h1.projectTitle {

}
.clientTitle {

}
.projectType {

}

/*footer*/
footer#bottom  {
    position: sticky;
    font-family: 'Epilogue', sans-serif;
    font-size: 1rem;
    width: 100%;
    padding: 2rem;
    height: 5rem;
}

div.footer {
    height: fit-content;
}

a.easterEgg {
    color: transparent;
    text-decoration: none;
    text-align: ;

}

a.easterEgg:hover {
    text-decoration: none;
    color: hotpink;
}

/*media queries breakpoint*/
/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
    #topButton {
        font-size: 1.5rem;
        padding: 1rem;}
    nav.navbar {
        position: sticky;
        font-size:  1.6rem;
        padding-top: 3rem;
        padding-left: 2.5rem;
        padding-bottom: 3rem;
        padding-right: 2.5rem;}
    footer#bottom  {
        position: sticky;
        font-family: 'Epilogue', sans-serif;
        font-size: 1rem;
        width: 100%;
        padding: 2rem;
        height: 5rem;}
/*resume*/
    .contactInfo {
        font-size: 1.4rem;}
    ul.personalSkills {
        font-size: 1.8rem;
        padding: .8rem;
        } 
    .verticalText {
        top:18.2rem;
    }   
    .verticalText2 {
        top:12.6rem;
        margin-top: -9rem;
    }
    .verticalText3 {
        top:12rem;
        margin-top: -100px;
    }
    .verticalText4 {
        top:20.4rem;
    }
    .verticalText8 {
        top:18rem;
    }
    .verticalText5 {
        top:15.6rem;
    }
    .verticalText6 {
        top:11.3rem;
    }
    .verticalText7 {
        top:16rem;
    }
/*projects*/
    h1.projectTitle {
        font-size: 4rem;
        padding-left: 1rem;}
    h2.projectType {
        font-size: 1.7rem;
        padding-left: 1.2rem;}
    h2.secHeader {
        font-size: 3rem;}
    img.projectIcon {
        width: 100%;
        padding-left: 2rem;
        padding-right: 1rem;}
    img.progress1 {
        padding-left: 1rem;
        padding-right:.5rem}
    img.progress2 {
        padding-left:01rem;
        padding-right:1rem}
    div.blackBackground {
        padding-left: 1rem;
        padding-top: 2rem;
        padding-right: 2rem;
        padding-bottom: 1rem;}
    h2.secHeader {
        text-align: center;
        padding-bottom:.2rem;}
    p.clientTitle {
        font-size: 1.18rem;}
    p.copyText {
        font-size: 1.3rem;}
    div.thirdRow {
        padding-top: 2rem;
        padding-left: 0rem;
        padding-right: 1rem;}
    div.fourthRow {
        padding: 1rem;}
    div.fifthRow {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    img.cppPhoto {
        align-content: center;
        padding: 1rem;
        padding-left: 2rem;
    }
    img.final1 {
        width: 100%;
        padding-left: 0rem;
    }
    

}

@media only screen and (min-width:430px) {
    .verticalText2 {
        top:10.62rem;
        margin-top: -9rem;
    }
    .verticalText7 {
        top:15rem;
    }
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {
    #topButton {font-size: 1.5rem;}
    nav.navbar {        
        position: sticky;
        font-size:  1.6rem;
        padding-top: 3rem;
        padding-left: 2.4rem;
        padding-bottom: 4rem;
        padding-right: 2.4rem;}
/*resume*/
    .verticalText2 {
        top:14rem;
        margin-top: -9rem;}

/*projects*/
    img.final1 {
        width: 100%;
        padding-left: 0rem;}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #topButton {font-size: 1.5rem;}
    nav.navbar {
        font-size:  1.5rem;
        padding-top: 6rem;
        padding-left: 7.7rem;
        padding-bottom: 4rem;
        padding-right: 7.7rem;}
/*resume*/
    .verticalText2 {
        top:10.3rem;
        margin-top: -9rem;
    }
    .verticalText7 {
        top:17rem;
    }

/*projects*/
    img.final1 {
        width: 100%;
        padding-left: 0rem;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #topButton {font-size: 1.5rem;}
/*resume*/
    ul.personalSkills {
        font-size: 1.8rem;
        padding: .3rem;
        } 
    .verticalText2 {
        top:13rem;
        margin-top: -9rem;
    }
    .verticalText7 {
        top:15rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #topButton {font-size: 1.5rem;}
/*resume*/
    .verticalText2 {
        top:10rem;
        margin-top: -9rem;
    }

}